body {
    font: normal 15pt arial;
    text-align: center;
    background-color: #dffcf9;
}

section{
    background-color: #012626;
    max-width: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.671);
    color: white;
}

input#txtid{
    border-style: none;
    padding: 10px;
}


input#mod{
    border-style: none;
    background-color: #73e0e0;
    padding: 10px;
}

input{
    outline: 0;
}

section, h1{
    margin-top: auto;
}

footer{
    margin-top: 60px;

}

footer, a {
   text-decoration: none;
   color: black;
}