body {
    background-color: #E4F2E7;
    font: normal 15pt arial;
}

:root {
    --cor0: #E4F2E7;
    --cor1: black;
    --cor02: #99fafa;
    --cor03: #2D3E40;
    --cor04: white;
   }

header, footer{
    text-align: center;
}

header{
    color: var(--cor1);
    
}
input#adicionar{
    background-color: var(--cor02);
    padding: 10px;
    border-radius: 2px;
}

input#fnum {
    padding: 10px;
    border-radius: 2px;
}

input#finalizar {
    background-color: var(--cor02);
    padding: 10px;
    border-radius: 2px;
    border-style: none;
    margin-top:10px;
}
section{
    text-align: center;
    color: var(--cor04);
}
select {
    outline: 0;

}

input#fnum, input#adicionar {
    border-style: none;
    margin-bottom: 20px;
    outline: 0;
}

section{
    background-color: var(--cor03);
    border-radius: 10px;
    padding: 30px;
    max-width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
    

}

select#flista {
    width: 150px;
}

footer{
    color: black;
    font-style: italic;
}